*{
    margin: 0;
    padding: 0;
}

.banner {
    background-color: turquoise;
    height: 85vh;
    min-height: 600px;
    background-image: url('https://i.ibb.co/HNvHSyV/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.menu{
    display: flex;
    font-size: 21px;
    color: #fff;
    align-items: center;

}

.menu span{
    margin-right: 30px;
    cursor: pointer;

    }
.contact{
    background-color: white;
    color: black;
    padding: 8px 20px;
    border-radius: 21px;
    cursor: pointer;
    transition: 0.20s all ease-in-out;
}
.contact:hover{
    background-color: turquoise;   
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
}

.arrow{
    margin-top: 60px;
}

.section1, .section2{
    display: flex;
    height: 350px;
}

.section img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.section1 .txt-contain{
    width: 50%;
}

.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.left p {
    color: #848395;   
    line-height: 1.9;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px; 
}

.left .button{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left div img, .right div img{
    width: 120px;
    height: 100%;
}

.left .right {
    flex: 1;
}

.left img, .right img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.client-image {
    width:70px;
    height:70px;
    overflow: hidden;
    
}
.client-image img{
    width:85%;
    height:85%;
    border-radius: 50%;
    object-fit: cover;
    }    

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fffbf8;
    }

    .testimonials h1 {
        color:#A0A1A2;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .clients{
        display: flex;
    }

    .clients .client1 .client2{
        display: flex;
        flex-direction: column;
        flex: 0.4;
        align-items: center;
    }    
